<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News for Dogs</title>
  {# <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> #}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
  {% include 'navbar.html' %}
  {% block content %}
  {% endblock %}

  <div class="container">

    {% for new, des, i, urel, src in context %}

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{urel}}" target="_blank">{{new}}
          </a></h5>
        <p class="card-text">{{des}}</p>
        <p class="card-text">
          <small class="text-muted">
            <a href="{{urel}}" target="_blank">Read more</a></small>
        </p>
      </div>
      <img src="{{i}}" class="card-img-bottom" alt="">
      <br>
    </div>


    {% endfor %}

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
  {# <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script> #}

</body>

</html>